<div class="md-whiteframe-1dp form-wrapper" ng-controller="MainCtrl" >
    <form novalidate>
        <legend>Chat Enterprise</legend>
        <md-input-container>
            <label>Login</label>
            <input type="text" id="" ng-model="user.login">
        </md-input-container>
        <md-input-container>
            <label>Password</label>
            <input type="password" id="" ng-model="user.pass">
        </md-input-container>
        <md-button class="md-primary md-raised" ng-click="login()">Connexion</md-button>
    </form>
</div>
